<div class="O_Form">

  <h2 class="A_H2">Редактирование услуги</h2>

  <%= render 'form', service: @service %>

  <div class="A_P1">
    <%= link_to 'Посмотреть услугу', @service %> |
    <%= link_to 'Венруться обратно', services_path %>
  </div>
</div>
