<div class="O_Form">
  <h2 class="A_H2">Создание нового предложения</h2>

  <%= render 'form', service: @service %>
  <div class="A_P1">
    <%= link_to 'Вернуться обратно', services_path %>
  </div>
</div>
