* {
  transition: 0.1s ease-out 0.1s;
  color: #4D4D4D;
  font-family: "Circe-Regular";
}

  #notice {
    color: #4D4D4D;
    font-family: "Circe-Regular";
    margin-left: 210px;
    color: #FFDF4E;
  }

.P_MyService {
  padding: 120px 0px;
  // padding: 120px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .A_H1 {
    margin-left: 120px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  a {
    text-decoration: none;
    color: #4D4D4D;
  }

  .A_H2 {
    color: #4D4D4D;
  }
}
