.M_ServiceSettings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a {
    font-family: "Circe-Regular", sans-serif;
  }

  .A_Button {
    height: 30px;
    width: 91px;
    // margin-left: -10px;
    line-height: 31px;
    font-size: 14px;
    margin-top: 20px;
  }

  .M_HideDestroy {
    margin-top: 29px;
    // margin-left: 10px;
    font-size: 14px;
  }
}
