.O_AllServicesInCategory {
  width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;

  .M_ServiceCard  {
    margin-top: 40px;
    width: 231px;
  }

  .A_H2 a {
    margin-left: 0px;

    &:hover {
      color: #4D4D4D;    
    }

  }

}
